<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>

<body class="homepage">
	<div id="root"></div>

	<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/skel-viewport.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/dropzone.js"></script>
	<script src="/js/jquery.dropotron.min.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/js/main.js"></script>

	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
	<script type="text/javascript" src="/dist/bundle/commons.js"></script> <!-- Your app specific code -->
	<script type="text/javascript" src="/dist/bundle/app.js"></script> <!-- Your app specific code -->
</body>
</html>
